@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&display=swap');

/* font-family: 'Crimson Pro', serif; */


/* font-family: 'Montserrat', sans-serif; */


/* font-family: 'Lora', serif; */

:root {
    --primary-bg-color: #181719;
    --text-bg-color: #ffffff;
}

body {
    background: var(--primary-bg-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo-header {
    border: 1px solid #fff;
    font-family: 'Crimson Pro', serif;
    font-size: 14px;
}

header nav {
    font-family: 'Montserrat', sans-serif;
}

header nav ul li {
    list-style: none;
}

header nav ul li.active a {
    border-bottom: 2px solid #fff;
    font-size: 18px;
    font-weight: 500;
}

.banner figure {
    float: right
}

.banner-content {
    padding-bottom: 150px !important;
}

.banner .content-text h3 {
    font-family: 'Lora', serif;
    font-size: 45px;
}

.banner .content-text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 29.26px;
}

.banner .content-text a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.banner .card {
    background: var(--primary-bg-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    bottom: -100px;
    right: 20px;
    border-radius: 0;
    width: 350px;
}

.banner .card .name {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 5px;
    font-size: 14px;
}

.banner .card .rol {
    color: rgba(130, 130, 130, 1);
    font-size: 12px;
}

.banner .card h3 {
    color: rgba(255, 255, 255, 1);
    font-family: 'Lora', serif;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}

.banner .card figure {
    border-radius: 50%;
    overflow: hidden;
    width: 75px;
    height: 75px;
}

.banner .card figure img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

main {
    background: #fff !important;
}


/*         
            SECTION:PRODUCTS
 */

.products {
    padding: 25px 0;
}

.products .item {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.products .item .header-content-item {
    border: 1px solid #efefef;
}

.products .item .header-content-item .flag {
    top: 0;
    right: 0;
    background: #ff0000;
    color: #fff;
}

.products .item .body-content-item a {
    color: #2e374c;
    font-weight: 600;
}

.products .item .body-content-item .agregar-carrito {
    background: #000;
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
}

.products .item .body-content-item .agregar-carrito span {
    color: #ccc !important;
    font-size: 1.4rem;
}

.price::before {
    content: 'S/.'
}

.products .item .body-content-item .prices .price-o {
    text-decoration: line-through;
}

.products .item .body-content-item .prices .price-dscto {
    font-size: 16px;
    font-weight: 700;
}

.nice-number button {
    border: 1px solid #ccc;
    width: 30px;
}

.nice-number button:first-child {
    border-radius: 5px 0 0 5px;
}

.nice-number button:last-child {
    border-radius: 0 5px 5px 0;
}

.nice-number input {
    min-width: 40px;
    border: 1px solid #ccc;
}

.owl-carousel {
    display: flex !important;
    flex-direction: column-reverse;
}

.owl-nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    position: absolute;
    right: 15px;
    top: -96px;
}

.owl-nav button {
    color: rgb(143, 143, 143) !important;
    font-size: 36px !important;
    margin-left: 15px;
}


/*----------------------------------
          *** CARRITO ***                             
----------------------------------*/

.carrito .list .list-products li {
    list-style: none;
    display: flex;
    font-size: 14px;
}

.carrito .list .list-products li .title,
.carrito .list .list-products li a {
    color: #2e374c;
}

.carrito .list .list-products li a:hover {
    text-decoration: underline;
}

.carrito .list .list-products .img-product {
    width: 120px;
    border-radius: 5px;
}

.offcanvas-footer>div {
    padding: 1rem 1rem;
}

.msj-vacio {
    justify-content: center;
    align-items: center;
}

.msj-vacio {
    font-size: 15px;
}

.msj-vacio span {
    font-size: 4.5rem;
}

.resum-cart {
    background: #f2f2f2;
}

.resum-cart>.item-row-cart:nth-child(1),
.resum-cart>.item-row-cart:nth-child(2),
.resum-cart>.item-row-cart:nth-child(3) {
    color: #2e374c
}

.resum-cart>.item-row-cart:nth-child(3) {
    border-bottom: 1px solid #2e374c;
}

.redireccionar {
    padding: 0.6rem;
    text-align: center;
    width: 160px;
}

.redireccionar.btn-seguir {
    border: 1px solid #000;
    color: #333;
}

.redireccionar.btn-carrito {
    background: #000;
    color: #fff;
}

.neg {
    font-weight: 700;
}

.modal .modal-body {
    font-size: 1.3rem !important;
}

.modal .modal-header,
.modal .modal-footer {
    border-bottom: 0 !important;
    border-top: 0 !important;
}

.login .offcanvas-header h5 {
    width: 100%;
    text-align: center;
}

.login .form-group input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #2e374c;
    outline: none !important;
    transition: 0.8s all;
    height: 50px;
    padding: 5px 0;
}

.login .form-group .underline {
    width: 0;
    height: 2px;
    transition: 0.8s all;
    background: #181719;
    position: relative;
    bottom: 18px;
    display: inline-block;
}

.input:focus~.underline {
    width: 100% !important;
}

.login .redireccionar {
    border: 0 !important;
    background: #000 !important;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    transition: 0.8s all;
}

.login .redireccionar:hover {
    opacity: 0.89;
}

.login .enlaces a {
    color: #818181;
    font-size: 14px;
}

.login .enlaces a:hover {
    text-decoration: underline;
}

.nav-gen {
    background: var(--primary-bg-color);
}

.nav-gen button {
    color: #fff !important;
    font-size: 1.3rem;
    opacity: inherit;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.nav-gen ul li a {
    transition: 0.8s all;
}

.nav-gen ul li.active a {
    border-bottom: 1px solid #fff;
}

.nav-gen ul li:hover a {
    border-bottom: 1px solid #fff;
}

@media only screen and (max-width: 768px) {
    header ul {
        padding-left: 0 !important;
    }
    header ul li {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
    .banner-content {
        flex-direction: column;
    }
    .banner-content>div:nth-child(2) {
        margin-top: 20px;
    }
    .banner-content figure.img-banner {
        width: 100% !important;
    }
}